body{
  background-image: url("../images/arab_tile.png");
  min-height: 100vh;
}
.navbar-brand{
  background-color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar{
  background-color: #ffffff;
  border-bottom: solid 2px #cccccc;
  min-height:50px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.nav-item{
  color: darkgray;
}
img{
  float:left;
  margin-right: 20px;
}
.card{
  background-color: #ffffff;
  border-color:#dddddd;
}
.card-header{
  border-bottom: solid 2px #dddddd;
  font-family: 'Georgia', Times, Times New Roman, serif;
  color:#4aaaa5;
  background-color: #ffffff;
  margin-right: 20px;
  margin-left:20px;
  font-weight: bold;
}
.github{
  width:65px;
  length:60px;
}
.linkedin{
  width:65px;
  length:60px;
  padding:0px;
}
.stack{
  width:60px;
  length:55px;
  padding:3px;
}
#main{
  flex: 1 0 auto;
}
footer{
  background-color: #666666;
  height: 50px;
  border-top: solid 10px #4aaaa5;
  flex: 0 0 auto;
  color:#777777;
  font-size: 12px;
}
.description_content{
  color:white;
  /*font-size:24px;*/
  text-align: center;
  background-color:#4aaaa5;
}
img.container{
  padding:0px;
}
